@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    margin: 0;
    padding: 0;
    background: black;
}

.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #08FF08 ;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #08FF08;
}

.header-nav-items{
    margin-top: 40px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.header-nav-items > li{
    list-style-type: none;
    color: #08FF08;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

.header-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
}